html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background: radial-gradient(ellipse at bottom, rgb(55, 82, 112) 1vh, rgb(1,1,1));
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

.app {
  min-height: calc(var(--vh, 1vh) * 100);
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
