@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(20000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}


$shadows-small:  multiple-box-shadow(1000);
$shadows-medium: multiple-box-shadow(300);
$shadows-big:    multiple-box-shadow(100);

.stars_layer_one {
  border-radius: 50%;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 500s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;

  &:after {
    content: " ";
    border-radius: 50%;
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}
.stars_layer_two {
  border-radius: 50%;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 1000s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    
  &:after {
    content: " ";
    border-radius: 50%;
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}
.stars_layer_three {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  opacity: 75%;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 1500s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    
  &:after {
    content: " ";
    border-radius: 50%;
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

.shooting_star {
  $star-count: 50;
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);

  position: absolute;
  top: var(--top-offset);
  left: var(--left-offset);
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  opacity: 0;
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  
  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-tail-length: #{random_range(500em, 750em) / 100};
      --top-offset: #{random_range(500vh, 3000vh) / 100};
      --left-offset: #{random_range(500vw, 5000vw) / 100};
      --fall-duration: #{random_range(6000, 12000s) / 1000};
      --fall-delay: #{random_range(0, 10000s) / 1000};
    }
  }
}

@keyframes fall {
  0% {   
    transform: 
    rotate(-45deg)
    translate3d(0rem, 0rem, 0);
    opacity: 0;
  } 20% {
    transform:
    rotate(-45deg)
    translate3d(-10em, 0em, 0rem);
    opacity: 100%;
  } 40% {
    opacity: 0;
    transform: 
    rotate(-45deg)
    translate3d(-20em, 0em, 0rem);
  }
}

@keyframes animStar {
  from {	 
    transform: translateZ(0px);
  } to {	
    transform: translateZ(-2000px);
  }
}

@keyframes animStar1 {
    0% {	 
      transform: translateZ(0px);
      opacity: 75%;
    } 50% {	
      transform: translateZ(-200px);
      opacity: 100%;
    }
  }